/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog {
  width: 70vw;
}

 h1 {
  font-size: 5em;
  text-align: center;
  color: #2EA9F0;
}

.latest-posts {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1em;
  text-decoration: underline;
}

.blog-container {
  width: 70vw;
  height: 40vh;
  background-color: #DAF4FD;
  border-radius: 10px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 5em;

}


.blog-img {
  width: 31%;
  height: auto;
  margin: 20px;
  object-fit: cover
}

.blog-content {  
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.7em;
  margin-right: 10px;
  padding: 7px;
}

.blog-title {
  margin: 0;
  font-size: 2em;
  font-weight: 700;
  color: #528DCB;
}

.blog-author {
  font-size: 1.7em;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.blog-author span {
  color: #a5a5a5
}

.blog-description {
  width: 80%;
  font-size: 1.4em;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.blog-content button {
  padding: 9px 13px;
  border: none;
  border-radius: 7px;
  background-color: #2EA9F0;
  font-size: 1.6em;
  font-weight: 500;
  color: white;
  margin-left: 80%;
  margin-bottom: 1%;
  cursor: pointer;
}

.blog-content button:hover {
  color: #2EA9F0;
  background-color: white;
  border: 1px solid #2EA9F0;
}