body {
  font-family: Poppins, Arial;
}

h1 {
  font-size: 5em;
  color: #2EA9F0;
  margin: 0;
}

p {
  font-size: 1.5em;
}

.top-area {
  text-align: center;
  margin-bottom: 5em;
}

.form-container {
  margin: 0 auto;
  width: 50vw;
}

.contact-form {
  /* border: 1px solid; */
  padding: 1.5em 3em;
  margin-bottom: 3em;
}

.contact-form label {
  font-size: 1.8em;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em
}

.contact-form input[type=text], input[type=email], select {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 1.6em;
}

textarea {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  height: 150px;
  font-size: 1.6em;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.send-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container button {
  padding: 12px 23px;
  font-size: 2.5em;
  background-color: #2EA9F0;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form-container button:hover {
  color: #2EA9F0;
  background-color: white;
  border: 1px solid #2EA9F0;
}