@font-face {
  font-family: lufga;
  src: url(./Lufga/LufgaBold.ttf) format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: lufga;
  src: url(./Lufga/LufgaSemiBold.ttf);
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: lufga;
  src: url(./Lufga/LufgaMedium.ttf) format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: lufga;
  src: url(./Lufga/LufgaRegular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: lufga;
  src: url(./Lufga/LufgaLight.ttf) format('ttf');
  font-weight: 300;
  font-style: normal;
}
