body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 3em;
}

/* .top {
  display: flex;
  justify-content: center;
} */



.properties h1 {
  text-align: center;
  font-size: 5em;
  color: #2EA9F0;
}

.subtitle {
  font-size: 1.2em;
  color: #B1AAB6;
  text-align: center;
  margin-bottom: 4em;
}

.properties-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5em;
}

.property-card {
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 4em
}

.property-card .tags {
  position: absolute;
  top: 1.8em;
  left: 1.8em;
}

.property-card .tag {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 5px;
}

.property-card .tag.rent {
  background-color: #333;
}

.property-card .tag.featured {
  background-color: #2EA9F0
}

.property-card .property-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.property-card .property-details {
  padding: 15px;
}

.property-card .property-title {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 5px;
}

.property-card .property-location {
  font-size: 14px;
  color: gray;
  margin-bottom: 1.5em;
}

.property-card .property-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.property-card .property-info span {
  display: flex;
  align-items: center;
}

.property-card .property-info i {
  margin-right: 5px;
}

.property-card .property-price {
  font-size: 20px;
  color: #2EA9F0;
  font-weight: bold;
}

.property-card .property-price span {
  font-size: 14px;
  color: #2EA9F0;
}
